/***********tag stream*********************/
  h1{
      background-color: red;
  }
   img  {
    background-color: green;
  }
/*  .earth1{
    background-color: gold;
  }
 .earth2{
    background-color: green;
 } */
